#downloadbutton {
  background-color: #f1caca;
  color: #1d1919;
  width: 80%;
}

#downloadbutton:hover {
  color: #f1caca;
  background-color: #1d1919;
  transform: scale(1.02);
}

#downloadbutton:active {
  transform: scale(0.98);
}

.noref {
  width: 40px;
  opacity: 1;
}
