#downloadpdf {
  display: flex;
  justify-content: space-between;
}

#downloadbutton {
  border: 1px solid black;
  background-color: #f1caca;
  color: #1d1919;
}

#downloadbutton:hover {
  color: #f1caca;
  background-color: #1d1919;
  transform: scale(1.02);
}

#downloadbutton:active {
  transform: scale(0.98);
}

.noref {
  width: 60px;
  opacity: 0;
}
