.schema-description {
  font-size: 1rem;
}

.schema-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}

.schema-item {
  border: 1px solid #007bff;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
}

.schema-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.schema-content {
  padding: 10px;
  background-color: #fff;
  font-size: 0.8rem;
}

.schema-entry {
  margin-bottom: 10px;
  padding-left: 15px;
}

.schema-value {
  margin-left: 10px;
}

.schema-header button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

#no-schema {
  margin-top: 100px;
  justify-content: space-around;
  color: rgba(225, 91, 14, 0.84);
}
