/* .schema-summary {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #333;
}

.schema-list {
  margin-top: 20px;
}

.schema-item {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.schema-content {
  margin-left: 15px;
}

.schema-object {
  margin-left: 20px;
}

.schema-array {
  margin-left: 20px;
  list-style-type: square;
}

.schema-key {
  cursor: pointer;
  font-weight: bold;
  color: #007BFF;
}

.schema-key:hover {
  color: #0056b3;
}

.schema-value {
  margin-left: 10px;
  padding: 5px;
}

.schema-primitive {
  color: #333;
  font-style: italic;
}

.schema-details summary {
  margin-bottom: 5px;
}

.schema-details {
  padding: 5px 0;
}

.copy-button, .validate-button {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 0.8rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.copy-button:hover, .validate-button:hover {
  background-color: #0056b3;
}

.validate-button {
  background-color: #28a745;
}

.validate-button:hover {
  background-color: #1e7e34;
} */





.schema-description{
  font-size: 1rem;
}

.schema-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schema-item {
  border: 1px solid #007bff;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
}

.schema-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.schema-content {
  padding: 10px;
  background-color: #fff;
  font-size: 0.8rem;
}

.schema-entry {
  margin-bottom: 10px;
  padding-left: 15px;
}

.schema-value {
  margin-left: 10px;
}

.schema-header button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}


